/* ---------- COMMON ELEMENTS ---------- */

/* ---------- LOADING SCREEN ---------- */
.loading-animation-wrapper {}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loading-screen-open {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease;
}

.loading-screen-open img {
  width: 306px;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

.loading-screen-closing {

  opacity: 0;
  transition: opacity 1.5s ease;
}

.loading-screen-closed {
  display: none;
}

.loading-screen-closed img {
  display: none;
}

/* ---------- HOMEPAGE ---------- */
/* ----- HOME GALLERY ----- */
.gallery-wrapper {
  min-height: 650px;
  height: 80vh;
  background: transparent;
  position: relative;
}

.gallery-wrapper .headline-wrapper {
  position: absolute;
  max-width: 1200px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  padding: 0px 10px;

}

.gallery-wrapper .timer-wrapper {
  position: absolute;
  max-width: 1200px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  padding: 0px 10px;
}

.gallery-wrapper .timer-wrapper .timer-row {
  height: 50px;
  background: transparent;
  position: absolute;
  bottom: 52px;
  z-index: 99;
  right: 10px;
  display: flex;
}

.gallery-wrapper .timer-wrapper .timer-row .timer {
  height: 42px;
  width: 42px;
  border-radius: 100px;
  background: transparent;
  margin: 0px 0px 0px 18px;
  opacity: .8;
  cursor: pointer;
}



.gallery-wrapper .timer-wrapper .timer-row .timer-active {

  opacity: 1;
}

.progress {
  transform: rotate(-90deg);
}

.progress__value {
  stroke-dasharray: 339.292;
  stroke-dashoffset: 339.292;
  animation: progress 6.5s infinite;
}

@keyframes progress {
  from {
    stroke-dashoffset: 339.292;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.gallery-wrapper .headline-wrapper .headline {
  position: absolute;
  bottom: 52px;
  z-index: 99;
  left: 10px;
}

.gallery-wrapper .headline-wrapper .headline h1 {
  color: white;
  font-size: 60px;
  margin: 0px;
  line-height: 58px;
  font-family: 'butlerlight';
}

.gallery-wrapper .gallery-image-open {
  position: absolute;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
  transition: opacity 1.5s ease;
}

.gallery-wrapper .gallery-image-closed {
  position: absolute;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease;
}

/* ---------- FOOTER ---------- */
.footer-wrapper {
  min-height: 200px;
  background: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 0px 10px;
}

.footer-wrapper .footer-logo-row {
  text-align: right;
  padding: 20px 0px 20px 0px;
}

.footer-wrapper .footer-logo {
  width: 136px;
}

.footer-wrapper .footer-inner-wrapper {
  border-top: 2px solid #DDDDDD;
}

.footer-wrapper .footer-inner-wrapper .footer-block {
  padding: 14px 10px;

}

.footer-wrapper .footer-inner-wrapper .footer-block .footer-title {
  font-family: "cooper_hewittmedium";
  font-size: 10px;
  letter-spacing: 0px;
}

.footer-wrapper .footer-inner-wrapper .footer-block .footer-inner-block {
  padding: 18px 25px;
}

.footer-wrapper .footer-inner-wrapper .footer-block .inner-block-tight {
  padding: 18px 100px 18px 25px;
}

.footer-wrapper .footer-inner-wrapper .footer-block .footer-inner-block .social-media-icon {
  width: 41px;
}

.footer-wrapper .footer-inner-wrapper .footer-block .footer-inner-block .ant-col-lg-6 {
  margin-bottom: 11px;
}

.footer-wrapper .footer-inner-wrapper .footer-block .footer-inner-block p {
  color: #A3A199 !important;
  font-family: "Cooper Hewitt";
}

.footer-wrapper .footer-inner-wrapper .footer-row {
  padding: 10px 0px 15px 0px;
  text-align: center;

}

.footer-wrapper .footer-inner-wrapper .footer-row .address {
  margin-bottom: 5px;
  font-family: 'butlerlight';
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #A3A199;
}

.footer-wrapper .footer-inner-wrapper .footer-row .phone-number {
  margin-bottom: 5px;
  font-family: 'butlerlight';
  font-size: 14px;
  font-weight: 300;
  line-height: 10px;
  color: #A3A199;
}

/* ---------- FOOTER MOBILE ---------- */
@media only screen and (max-width: 990px) {
  .footer-wrapper .footer-logo-row {
    text-align: center;
  }

  .footer-wrapper .footer-inner-wrapper .footer-block {
    padding: 14px 5px;
  }

  .footer-wrapper .footer-inner-wrapper .footer-block .footer-inner-block {
    padding: 18px 15px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-wrapper .footer-logo-row {
    text-align: center;
  }

  .footer-wrapper .footer-inner-wrapper .footer-block {
    padding: 10px 5px 5px 10px;
  }

  .footer-wrapper .footer-inner-wrapper .footer-block .footer-inner-block {
    padding: 5px 15px;
  }

  .footer-wrapper .footer-inner-wrapper .footer-row {
    padding: 10px;
  }
}